{% extends "base.html" %} {% block content %}

<section>
    <div class="aboutcontainer">
        <div class="containerone">
            <img src="{{MEDIA_URL}}spices.jpg" alt="spices" width="650" height="350">  

        </div>
        <div class="textone">
            <h2>About</h2>
            <p>Welcome to Recipe WorldWide, a food blog that takes you on a culinary journey around the world! Our blog is a celebration of diverse flavors, aromas, and cooking techniques from different cultures and regions. From mouthwatering street food to traditional family recipes, we bring you a tantalizing collection of dishes that will transport your taste buds to exotic destinations.</p>
            <p>Join us as we explore the rich culinary heritage of various countries and continents, from Asia to Africa, Europe to the Americas, and beyond. Our team of passionate foodies, who have traveled extensively and immersed themselves in local cuisines, are excited to share their culinary discoveries with you.</p>      
            <p>Indulge in the aromatic spices of India with a classic Chicken Tikka Masala, or savor the umami flavors of Japan with a steaming bowl of Ramen. Discover the bold and fiery flavors of Mexico with a zesty Beef Barbacoa, or experience the comforting warmth of Italy with a creamy bowl of Risotto. We'll take you on a culinary adventure that spans the globe.</p>
        </div>
    </div>
    
    <div class="kitchencontainer">
        <div class="containerone">
            <img src="{{MEDIA_URL}}kitchen.jpg" alt="kitchen" width="800" height="500">  

        </div>
        <div class="textone">
            <h2>DO you Enjoy cooking in the kitchen ?</h2>
            <p>If you're someone who loves the hustle and bustle of a kitchen, the sizzle of a hot pan, and the aroma of fresh ingredients, then you know the pure joy of working in a kitchen to cook recipes.</p>
            <p>From the moment you step into a kitchen, it becomes a canvas for your culinary masterpieces. You chop, sauté, whisk, and season with precision, transforming raw ingredients into flavorful and visually appealing dishes. The process of cooking is an art form, where you can experiment with different flavors, textures, and techniques to create something truly unique and delicious.</p>
            <h2>How you can be apart of this Blog</h2>
            <p> If you want to add a Recipe too our blog post & be apart of sharing ur style of dish then Please Create An Account with us and click on the contact us deplayed in the navigation on the screen youll need to fit the form out and We will then be in contact with you Via Email, Thank you.</p>
        </div>
    </div>
</section>








{% endblock %}