{% extends "base.html" %} {% block content %}

<form method="post">
    {% csrf_token %}
    <div class="contact-container">
        <div class="contact-box">
            
{% load static %}<div class="left"><img class="card-img-top" src="{% static "dj_appblog/media/kitchen.jpg" %}"></div>
            <div class="right">
                <h2>Contact Us</h2>
                <input type="text" class="field" placeholder="Your Name" name="name">
                <input type="text" class="field" placeholder="Your Email" name="email">
                <input type="text" class="field" placeholder="Phone" name="phone">
                <textarea placeholder="Message" class="field" name="message"></textarea>
                <button class="btn">Send</button>
            </div>
        </div>
    </div>
</form>


{% endblock %}