@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lateef&family=Lato:ital,wght@1,300&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');

body {
    background-color: #F9FAFC;
}
.nav-item a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

#globe {
    color: black;
}
.fa-globe:before {
    color: black;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

#green {
    color: rgb(87, 126, 87);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: rgb(67, 97, 67);
}

.main-bg {
    background-color: rgb(175, 174, 174);
}

.card {
    border: none;
    border-radius: 20px
}

.image-container {
    position: relative;
    
}


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.ms-3 {
    margin-left: 5rem!important;
    margin-right: 5rem!important;
    box-shadow: #000;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-radius: 20px;
}

.image-flash {
    position: absolute;
    bottom: 0;
    min-width: 30%;
    left: 100px;
    background-color: #41bb23;
    border-radius: 7px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #198819;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #2b8a3b;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


.apps-icons {
    text-align: center;
    width: 100%;
    display: flex;
}

.apps-icons li {
    width: 25%;
}
footer .apps-icons i {
    font-size: 1.5em;
    margin: 1%;
    color: white;
}

.apps-icons p {
    color: white;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
}

header.masthead {
    margin-bottom: 250px;
    background: no-repeat center center;
    background-color: #252729;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    margin-top: 200px;
    border-radius: 20px;
    width: 600px;
    height: 450px;
}

.container h3 {
    text-align: center;
}

.mt-3 {
    margin-top: 3rem!important;
}

.signupc {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    margin-top: 200px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
}

.signupc h1 {
    text-align: center;
    font-size: 1.75rem;
}

.signoutc {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    margin-top: 300px;
    border-radius: 20px;
    width: 300px;
    height: 150px;
}

.submit {
    text-align: center;
    margin-left: 90px;
}

.signoutc h1  {
    text-align: center;
    font-size: 1.75rem;
}

.signoutc p {
    text-align: center;
}

.btn-submit:hover
.btn-submit:active {
    color: #54b3d6;
}

