{% extends 'base.html' %} {% block content %}

{% load i18n %}
{% load account socialaccount %}


<form class="add-recipe-container" method="POST" enctype="multipart/form-data">
    <div id="add-form-box" class="field" required>
        <!-- Security token -->
        {% csrf_token %}
 
        <!-- Using the formset -->
        {{ form.as_p | safe}}
        {{ form.content | safe}}
       
        <input class="btn" class="searchf" type="submit" value="Save">
    </div>
</form>


{% endblock content %}